*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
.slider_container{
    margin: 20px auto;
    max-width: 1400px;
    width: 100vw;
    height: 700px;
    background-color: rgb(236, 236, 236);
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.slider_image{
    max-width: 1300px;
    max-height: 700px;
    border-radius: 15px;
}
.slider_wrapper{
    max-width: 600px;
    max-height: 700px;
    position: relative;
    background-color: rgb(236, 236, 236);
}
.slider_button{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: white;
    border: none;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    box-shadow: 0px 0px 50px black;
}
.slider_button:hover{
    background-color: #E93656;
    border: 2px solid white;
}
#image1_button{
    position: absolute;
    bottom: 10px;
    left: 200px;
}
#image2_button{
    position: absolute;
    bottom: 10px;
    left: 240px;
}
#image3_button{
    position: absolute;
    bottom: 10px;
    left: 280px
}
#slider_image2{
    display: none;
}
#slider_image3{
    display: none;
}
.slider_wrapper_text{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    gap: 45px;
    background-color: rgb(236, 236, 236);
    border-radius: 15px;
    max-width: 850px;
    width: 100vw;
    height: 700px;
}
.slider_logo_box{
    vertical-align: center;
    display: flex;
    justify-content: space-between;
    align-items: top;
    max-width: 850px;
    padding-right: 20px;
    width: 100vw;
}
.roca{
    font-size: 40px;
    font-weight: 600;
    padding-top: 15px;
}
.roca_dot{
    font-size: 33px;
    color: #0081FF;
}
.roca_zerOne{
    font-size: 150px;
    font-weight: 600;
    position: relative;
}
.roca_about_me{
    font-size: 44px;
    width: 300px;
    position: absolute;
    left: -20px;
    top: 50px;
    z-index: 1;
    color: #373737;
}
.slider_aboutMe_box{
    font-size: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.my_name{
    font-size: 71px;
    letter-spacing: 1.1px;
}
.who_am_i{
    font-size: 23px;
}
.slider_socialMedia_icons{
    display: flex;
    gap: 15px;
    vertical-align: middle;
}
.icon_images{
    width: 40px;
    height: 40px;
}
.slider_client_section{
    align-self: flex-end;
    font-size: 24px;
    font-weight: 600;
    display: flex;
    gap: 15px;
    flex-direction: column;
    padding-right: 60px;
}
.hundred_percent{
    color: #E93656;
}
.satisfied_level_bar{
    height: 6px;
    background-color: rgb(215, 215, 215);
    border-radius: 5px;
    width: 340px;
    box-shadow: 0px 0px 5px #ffffff;
}
#level_bar{
    height: 6px;
    border-radius: 5px;
    animation-name: level;
    animation-duration: 3s;
    animation-delay: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
@keyframes level {
    0%{
        width: 0px;
        background-color: #E93656;
    }
    25%{
        width: 80px;
        background-color: #E93656;
    }
    50%{
        width: 160px;
        background-color: #E93656;
    }
    75%{
        width: 250px;
        background-color: #E93656;
    }
    100%{
        width: 340px;
        background-color: #E93656;
    }
    
}
.more_information_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    gap: 20px;
    margin: 50px auto;
    margin-bottom: 0px;
    max-width: 1400px;
    width: 100vw;
    max-height: 700px;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
}
.more_about_me{
    text-align: end;
    display: flex;
    flex-direction: column;
    max-width: 370px;
    width: 100vw;
    max-height: 700px;
    height: 100vh;
    gap: 50px;
}
.full_name{
    font-size: 40px;
    color: #222222;
}
.profession{
    font-size: 14px;
    color: #373737;
}
.about_me{
    font-size: 15px;
    letter-spacing: 0.5px;
}
#hire_me{
    padding: 10px 30px;
    background-color: #E93656;
    color: white;
    border: none;
    border-radius: 5px;
}
.my_photo{
    max-width: 380px;
    width: 100vw;
    max-height: 530px;
    height: 100vh;
    margin: 0px 20px;
}
.my_skills{
    display: flex;
    flex-direction: column;
    max-width: 480px;
    width: 100vw;
    height: 700px;
    gap: 30px;
    font-size: 20px;
    color: #555555;
}
.skill_percent{
    color: #E93656;
    font-weight: 600;
}
.outside_bar{
    margin-top: 7px;
    width: 250px;
    height: 6px;
    border-radius: 6px;
    background-color: rgb(215, 215, 215);
}
#github_bar{
    width: 200px;
    height: 6px;
    border-radius: 6px;
}
#html_bar{
    width: 225px;
    height: 6px;
    border-radius: 6px;
}
#creativity_bar{
    width: 250px;
    height: 6px;
    border-radius: 6px;
}
#responsibility_bar{
    width: 250px;
    height: 6px;
    border-radius: 6px;
}
.phone_icon{
    width: 50px;
    height: 50px;
    border: none;
}
.information_footer_wrapper{
    background-color: #131A36;
    max-width: 100vw;
    display: flex;
}
.information_footer{
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1200px;
    width: 100vw;
}
.information_box{
    background-color: #131A36;
    display: flex;
    gap: 15px;
    padding: 30px 10px;
    padding-left: 40px;
    max-width: 400px;
    width: 100vw;
    color: white;
}
.information_title{
    font-size: 22px;
    font-weight: 600;
}
.information_text{
    font-size: 18px;
    padding-top: 15px;
}
.information_icon_outbox{
    border-radius: 50%;
    padding: 10px;
}
.information_icon_outbox:hover{
    background-color: #E93656;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}
.service_container{
    max-width: 1200px;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: 40px auto;
}
.service_box{
    height: 300px;
    max-width: 300px;
    width: 100vw;
    background-color: rgb(236, 236, 236);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: rgb(236, 236, 236);

}
.service_name{
    font-size: 28px;
    font-weight: 600;
    color: #131A36;
}
.recomendation_container{
    background-color: rgb(93, 93, 93);
    margin-top: 100px;
    width: 100vw;
    background-size: cover;
    min-height: 400px;
    padding-left: 100px;
}
.recomendation_box{
    background-color: rgb(93, 93, 93);
    max-width: 1400px;
    width: 100vw;
    max-height: 400px;
    height: 100vh;
    margin: 0 auto;
    padding-left: 200px;
    position: relative;
}
.recm_button{
    width: 35px;
    height: 35px;
    border-radius: 5px;
    border: none;
    background-color: rgb(255, 255, 255);
}
.recm_wrapper{
    display: flex;
    justify-content: center;
    gap: 50px;
    max-width: 1200px;
    width: 100vw;
    min-width: 700px;
}
.recm_button:hover{
    background-color: #363636;
    border: 4px solid white;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}
.recm_text{
    min-width: 400px;
    width: 100vw;
    color: rgb(255, 255, 255);
    max-height: 400px;
    height: 100vh;
    font-size: 22px;
    text-align: center;
    align-content: center;
}
.recm_photo{
    background-color: rgb(93, 93, 93);
    display: flex;
    gap: 20px;
    align-items: center;
    min-width: 500px;
    position: relative;
}
.recm_img{
    width: 170px;
    height: 200px;
    border-radius: 50%;
}
.recm_title{
    width: 200px;
    font-size: 34px;
    color: white;
}
.recm_profession{
    font-size: 20px;
    color: #ffffff;
}
#recm_1{
    position: absolute;
    left: 10px;
    top: 100px;
}
#recm_2{
    position: absolute;
    left: 10px;
    top: 170px;
}
#recm_3{
    position: absolute;
    left: 10px;
    top: 240px;
}
#recm_wrapper_2, #recm_wrapper_3{
    display: none;
}
.project_title{
    font-size: 60px;
    text-align: center;
    margin: 100px auto;
}
.latest_project_container{
    max-width: 1000px;
    width: 100vw;
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
    gap: 20px;
}
.project_names{
    max-width: 200px;
    width: 100vw;
    background-color: #131A36;
    max-height: 250px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
}
.project_name_box{
    color: white;
    font-size: 16px;
    background-color: #131A36;
    border: none;
    width: 150px;
}
#projects_card_wrapper{
    max-width: 930px;
    width: 100vh;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.project_card{
    height: 250px;
    max-width: 300px;
    width: 100vw;
    border: 2px solid #666;
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #ffffff;
}
.articles_container{
    margin: 0 auto;
    max-width: 1400px;
    width: 100vw;
}
.articles_wrapper{
    max-width: 1000px;
    width: 100vw;
    display: flex;
    max-height: 500px;
    height: 100vh;
}
.articles_wrapper_different{
    max-width: 1000px;
    width: 100vw;
    display: flex;
    max-height: 500px;
    height: 100vh;
    align-self: flex-end;
    margin-left: 150px;
}
.article_content{
    min-width: 410px;
    max-height: 500px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    padding: 20px;
    background-color: #FAFAFA;
}
.company_name{
    font-size: 14px;
    color: #555555;
}
.article_profession{
    font-size: 35px;
}
.article_icon_box{
    padding: 10px;
}
.article_icon{
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    scale: 1.5;
}
.article_year_box{
    max-width: 100px;
    width: 100vw;
    max-height: 500px;
    height: 100vh;
    background-color: #131A36;
    color: #E93656;
    align-content: center;
}
.article_year{
    rotate: -90deg;
    font-size: 18px;
}
.article_photo{
    max-height: 500px;
    height: 100vh;
    background-image: url(./img/article_photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 500px;
}
#article_title{
    margin-top: 50px;
}
.rosa_team_container{
    max-width: 1200px;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 50px;
    margin: 0 auto;
}
.rosa_team_box{
    width: 150px;
    height: 150px;
    background-size: cover;
    margin-left: 50px;
}
.rosa_team_text{
    padding: 2px;
    display: flex;
    gap: 5px;
    padding: 5px;
    justify-content: center;
    flex-direction: column;
    color: black;
    background-color: white;
    min-width: 150px;
    min-height: 150px;
    box-shadow: 0px 0px 20px #e0e0e0;
    display: none;
    scale: 1.1;
    border-radius: 10px;
}
#rosaBox1{
    background-image: url(./img/burberry_logo.jpg);
}
#rosaBox2{
    background-image: url(./img/apple_logo.webp);
    background-position: center;

}
#rosaBox3{
    background-image: url(./img/amazon_logo.png);
}
#rosaBox4{
    background-image: url(./img/mc_logo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
#rosaBox5{
    background-image: url(./img/nike_logo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}




@media(max-width:525px){
    .slider_container{
        grid-template-columns: 1fr;
        margin: 10px 30px;
        height: 1400px;
    }
    .slider_wrapper_text{
        padding: 15px;
        gap: 20px;
    }
    .slider_client_section, .slider_socialMedia_icons, .slider_logo_box{
        scale: 0.7;
    }
    .slider_client_section{
        align-self: flex-end;
        padding: 0;
    }
    .slider_image{
        max-width: 100vw;
    }
    .more_information_container{
        width: 100vw;
        display: flex;
        flex-direction: column;
        padding-left: 30px;
        justify-content: space-around;
    }
    .my_photo{
        max-width: 450px;
        max-height: 570px;
    }
    .more_about_me{
        text-align: center;
        padding-left: 40px;
    }
    .my_skills{
        padding-left: 30px;
    }
    .information_footer_wrapper{
        margin-top: 600px;
        margin-left: 50px;
        border-radius: 10px;
    }
    .information_footer{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 10px;
    }
    .information_box{
        border-radius: 10px;
    }
    .service_container{
        grid-template-columns: repeat(2,1fr);
        margin-left: 40px;
        gap: 20px;
    }
    .service_box{
        max-width: 180px;
    }
    .service_name{
        font-size: 25px;
    }
    .recomendation_container{
        padding-left: 0px;
        background-color: white;
    }
    .recomendation_box{
        padding-left: 0px;
        margin-left: 50px;
    }
    .recm_wrapper{
        padding-top: 20px;
        padding-left: 20px;
        flex-direction: column-reverse;
        gap: 0px;
        min-width: 0px;
        background-color: rgb(93, 93, 93);
    }
    .recm_text{
        max-width: 400px;
        font-size: 22px;
        text-align: left;
    }
    .recm_photo{
        min-width: 300px;
    }
    #recm_1{
       left:30px;
       top: 250px;
    }
    #recm_2{
        top: 250px;
        left: 100px;
    }
    #recm_3{
        top: 250px;
        left: 170px;
    }
    .latest_project_container{
        flex-direction: column;
    }
    .project_names{
        max-width:600px;
        width: 100vw;
        padding: 10px;
        gap: 15px;
        border-radius: 10px;
    }
    .project_title{
        margin:250px 0px 40px 50px;
        font-size: 45px;
    }
    #projects_card_wrapper{
        grid-template-columns: repeat(2, 1fr);
        margin-left: 40px;
        gap: 10px;
        width: 100vw;
    }
    .project_card{
        max-width: 180px;
        text-align: center;
        font-size: 25px;
        border-radius: 10px;
    }
    .article_content{
        min-width: 0px;
        max-height: 500px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
        padding: 20px;
        background-color: #FAFAFA;
    }
    .articles_wrapper{
        max-width: 1000px;
        width: 100vw;
        display: flex;
        flex-direction: column;
        max-height: 500px;
        height: 100vh;
    }
    .articles_wrapper_different{
        max-width: 1000px;
        width: 100vw;
        display: flex;
        flex-direction: column;
        max-height: 500px;
        height: 100vh;
        margin-left: 50px;
    }
    .article_year_box{
        max-width: 550px;
        width: 100vw;
        text-align: center;
        rotate: none;
        font-size: 18px;
        height: 100px;
    }
    .article_year{
        rotate: none;
    }
    .article_photo{
        min-width: 0px;
    }
    .rosa_team_container{
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
    }
}
@media(max-width:420px){
    .slider_container{
        height: 1100px;
    }
    #image1_button{
        left: 130px;
    }
    #image2_button{
        left: 185px;
    }
    #image3_button{
        left: 240px;
    }
    .more_information_container{
        margin-top: 180px;
    }
    .recomendation_container{
        margin-top: 50px;
    }
    .recomendation_box{
        margin-left: 30px;
    }
    .recm_wrapper{
        padding-left: 5px;
    }
    .recm_text{
        font-size: 16px;
        text-align: left;
        min-width: 0px;
    }
    .recm_title{
        font-size: 25px;
    }
    .recm_profession{
        font-size: 18px;
    }
    .project_names{
        max-width: 400px;
        margin-left: 30px;
    }
}
@media(max-width:360px){
    #image1_button{
        left: 110px;
    }
    #image2_button{
        left: 155px;
    }
    #image3_button{
        left: 200px;
    }
    .more_information_container{
        padding-left: 0;
        margin-top: 70px;
    }
    .information_footer_wrapper{
        margin-left: 30px;
    }
    .information_box{
        padding-left: 0px;
    }
    .service_container{
        grid-template-columns: repeat(1,1fr);
        margin-left: 30px;
    }
    .service_box{
        max-width: 400px;
    }
    .project_title{
        font-size: 40px;
    }
    #projects_card_wrapper{
        grid-template-columns: repeat(1, 1fr);
        margin-left: 30px;
        gap: 10px;
        width: 100vw;
    }
    .project_card{
        max-width: 400px;
    }

    
}